.bag{
    width: 25px;
}
header{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
}
.korzina{
    font-size: 10px;
    font-weight: bold;
    font-family:  sans-serif;
}
.neva{
    display: flex;
    flex-direction: column;
    h1{
        font-size: 25px;
        text-align: center;
    }
    span{
        font-size: 10px;
        font-family: sans-serif;
        text-align: center;
    }
}
.number{
    h1{
        font-family: sans-serif;
        font-size: 15px;
    }
    a{
        font-size: 10px;
        color: rgb(180, 158, 51);
    }
}
.first{
    display: flex;
    align-items: center;
}
.second{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: whitesmoke;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
.firsts{
    h1{
        font-family: sans-serif;
        margin-left: 80px;
        padding-top: 130px;
    }
    button{
         margin-left: 80px;
         border-radius: 0px;
         border: 1px black solid;
         padding: 10px;
    }
    .man{
        margin-left: 20px;
    }
    background-image: url(./photo_2026-02-14_00-07-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.seconds{
    .img3{
        width: 700px;
    }
    h1{
        font-family: sans-serif;
    }
    button{
    padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.thrds{
    img{
        width: 700px;
    }
    h1{
        font-family: sans-serif;
    }
    button{
        padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.fourths{
    img{
        width: 700px;
    }
    h1{
        font-family: sans-serif;
    }
    button{
        padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.fifeths{
    img{
        width: 700px;
    }
    h1{
        font-family: sans-serif;
    }
    button{
        padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
